### java template
### Java Template
# Compiled class file
*.class

# Eclipse
.project
.classpath
.settings/

# Intellij
*.ipr
*.iml
*.iws
.idea/

# Maven
target/

# Gradle
build
.gradle

# Log file
*.log
log/

# out
**/out/


# others
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.pid
*.orig
